#toggleGroup {
  grid-area: toggleGroup;
  width: 100%;
  margin-bottom: 1rem;
}

#todos, #create {
  width: 100%;
  cursor: pointer;
}

#content {
  grid-area: content;
}

@media screen and (min-width: 25rem) {
  #mainCard {
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
  }
}
